# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Environments
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Project specific
/videos/
/.videos/
*.mp4
*.webm
*.m4a

# Logs
*.log